{% extends "base.html" %}
{% import 'cake.html' as macros %}

{% block content %}

    <div class="container start-50">
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                            aria-controls="panelsStayOpen-collapseOne">
                        <h3>Торты</h3>
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-10">
                                <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                        data-bs-target="#createCakeForm" onclick="createBtnClicked();">
                                    Добавить торт
                                </button>
                            </div>
                        </div>

                        <div class="row justify-content-around g-4 gy-3 mt-0">
                            {% for cake in cakes %}
                                {{ macros.render_cake(cake, True) }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseTwo">
                        <h3>Отзывы о работе</h3>
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-10">
                                <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                        data-bs-target="#addFeedbackForm">
                                    Добавить отзыв
                                </button>
                            </div>
                        </div>

                        <div class="row justify-content-around g-4 gy-3 mt-2">
                            {% for src in feedback %}
                                <div class="col-xl-3" style="width: 300px;">
                                    <div class="card h-100">
                                        <img src="{{ src }}" class="card-img-top" width="250px" height="500px"
                                             alt="...">
                                        <a href="#"
                                           onClick="if (confirm('Точно???')) window.location.replace('/admin?entity=feedback&action=delete&id={{ loop.index0 }}');"
                                           role="button" class="btn btn-danger">Удалить</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="createCakeForm" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Добавить торт</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form method="post" class="row g-3" action="/create_cake" enctype="multipart/form-data"
                          id="cakeForm">
                        {{ cake_form.csrf_token() }}
                        {{ cake_form.cake_id() }}
                        <div class="mb-3">
                            {{ cake_form.title.label(class="visually-hidden") }}
                            {{ cake_form.title(placeholder=cake_form.title.label.text,class="w-100") }}
                        </div>
                        <div class="mb-3">
                            {{ cake_form.description.label(class="visually-hidden") }}
                            {{ cake_form.description(placeholder=cake_form.description.label.text,class="w-100") }}
                        </div>
                        <div class="mb-3">
                            {{ cake_form.cost.label(class="visually-hidden") }}
                            {{ cake_form.cost(placeholder=cake_form.cost.label.text) }}
                        </div>
                        <div class="mb-3">
                            {{ cake_form.images.label(class="visually-hidden") }}
                            {{ cake_form.images(placeholder=cake_form.images.label.text) }}
                        </div>
                        <div class="mb-3">
                            {{ cake_form.submit(class="btn btn-primary mb-3") }}
                        </div>
                        {{ message }}
                    </form>
                </div>
                <!--      <div class="modal-footer">-->
                <!--        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
                <!--        <button type="button" class="btn btn-primary">Understood</button>-->
                <!--      </div>-->
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addFeedbackForm" tabindex="-1" aria-labelledby="staticBackdrop" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdrop">Добавить отзыв</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form method="post" class="row g-3" action="/create_feedback" enctype="multipart/form-data">
                        {{ feedback_form.csrf_token() }}
                        <div class="mb-3">
                            {{ feedback_form.image.label(class="visually-hidden") }}
                            {{ feedback_form.image(placeholder=feedback_form.image.label.text) }}
                        </div>
                        <div class="mb-3">
                            {{ feedback_form.submit(class="btn btn-primary mb-3") }}
                        </div>
                        {{ message }}
                    </form>
                </div>
                <!--      <div class="modal-footer">-->
                <!--        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
                <!--        <button type="button" class="btn btn-primary">Understood</button>-->
                <!--      </div>-->
            </div>
        </div>
    </div>

    <script>

        var cakes_js = [];
        {% for i in range(cakes | length) %}
            cakes_js.push({
                'id': {{ cakes[i]['id'] }},
                'title': '{{ cakes[i]['title'] }}',
                'desc': '{{ cakes[i]['desc'] }}',
                'cost': '{{ cakes[i]['cost'] }}'
            });
        {% endfor %}

        function editBtnClicked(cake_id) {
            var input = document.getElementById("cakeId");
            input.value = cake_id;

            var form = document.getElementById("cakeForm");
            form.action = '/update_cake/' + cake_id;

            var button = document.getElementById("cakeSubmit");
            button.value = 'Изменить';

            var cake = null;
            for (var i = 0; i < cakes_js.length; i++)
                if (cakes_js[i]['id'] == cake_id) {
                    cake = cakes_js[i];
                    break;
                }

            var name = document.getElementById("cakeName");
            name.value = cake['title'];

            var desc = document.getElementById("cakeDesc");
            desc.value = cake['desc'];

            var cost = document.getElementById("cakeCost");
            cost.value = cake['cost'];
        }

        function createBtnClicked() {
            var input = document.getElementById("cakeId");
            input.value = -1;

            var form = document.getElementById("cakeForm");
            form.action = '/create_cake'

            var button = document.getElementById("cakeSubmit");
            button.value = 'Добавить';

            var name = document.getElementById("cakeName");
            name.value = '';

            var desc = document.getElementById("cakeDesc");
            desc.value = '';

            var cost = document.getElementById("cakeCost");
            cost.value = null;
        }
    </script>

{% endblock %}
