{% macro render_cake(cake, is_admin) %}
<div class="col-xl-3" style="width: 250px;">
    <div class="card h-100">
        <button type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#{{ cake['uuid'] }}">
            <img src="{{ cake['imgs'][0] }}" class="card-img-top" width="200px" height="200px" alt="...">
        </button>
        <div class="card-body">
            <h5>{{ cake['title'] }}</h5>
            <p class="card-text">{{ cake['desc'] }}</p>
        </div>
        {% if is_admin %}
            <a href="/admin?entity=cake&action=update&id={{cake['id']}}" class="btn btn-warning">Изменить</a>
            <a href="/admin?entity=cake&action=delete&id={{cake['id']}}" class="btn btn-danger">Удалить</a>
        {% endif %}
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="{{ cake['uuid'] }}" tabindex="-1" aria-labelledby="{{ cake['uuid'] }}" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-xl-down">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="{{ cake['uuid'] }}-carousel" class="carousel slide">
                    <div class="carousel-indicators">
                        {% for i in range(0, cake['imgs']|length) %}
                            <button type="button" data-bs-target="#{{ cake['uuid'] }}-carousel" data-bs-slide-to="{{ i }}"
                                    {{ 'class="active" aria-current="true"' | safe if i == 0 else '' }} aria-label="Slide {{ i }}"></button>
                        {% endfor %}
                    </div>
                    <div class="carousel-inner">
                        {% for i in range(cake['imgs']|length) %}
                            <div class="carousel-item {{ 'active' if i == 0 else '' }}">
                                <img src="{{ cake['imgs'][i] }}" class="card-img-top">
                            </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#{{ cake['uuid'] }}-carousel"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#{{ cake['uuid'] }}-carousel"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}